
body{
    background-color: #155203;
}


h1{
    text-align: center;
    color: rgb(13, 95, 13);
    text-decoration: inline;
}
nav {
    background-color: #830b0b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #5e2b2b;
}

footer {
    background-color: rgb(233, 238, 231);
    color: rgba(31, 1, 1, 0.945);
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section p, .footer-section ul {
    margin: 5px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #010b0e;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}